table {
  width: 100%;
  border-collapse: collapse;
  font-weight: bold;
  th {
    background-color: rgb(80, 78, 74);
    color: white;
  }
  td {
    border-bottom: 1px solid rgb(185, 39, 112);
  }
  img {
    max-height: 6rem;
  }
}
.summary {
  table {
    text-align: center;
    td {
      padding: 0.5rem;
    }
  }
}

.finalization {
  display: flex;
  justify-content: space-between;
  .finalization-table {
    background-color: rgb(80, 78, 74);
    color: white;
    font-weight: bold;
    padding: 2rem;
    width: 40%;
  }
  table {
    td {
      padding: 1rem 0;
    }
    tr :nth-child(even) {
      text-align: right;
    }
  }
}
